[Unit]
Description=Überprüft die ipv6 und schreibt in Datei

[Service]
ExecStart=/usr/bin/ipv6-check
Restart=on-failure

[Install]
WantedBy=multi-user.target
